{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% block title %}<title>Twelve-Variable</title>{% endblock title %}

<body>
    {% block main %}
    <h1>Twelve-Variable Report</h1>
    <p>Based on your responses on survey a customized report have been prepared for you. You can select the link for your desired capital type to view the report.</p>
    <ol>
    {% for link in list_name_output %}
    {% with link|add:'twelve' as modified_link %}
        {% if modified_link in links_with_error %}
            <li>Paul and Romin are adding the 12 Variable Report for {{ link }} to the system!</li>
        {% else %}
            <li><a href="{% url modified_link %}">{{ link }}</a></li>
        {% endif %}
    {% endwith %}
    {% endfor %}
    </ol>
    <div class="development-note">
        <p><i><b><u>Development Note: Only the matched capital  Finfire 12-variable report link will be loaded here.</u></b></i></p>
    </div>
    {% endblock main %}
</body>
</html>