<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/b.png' %}" type="image/x-icon">
    <title>Intermediaries Questions</title>
</head>
<body>
    <h1>Intermediaries Questions</h1>
    
    <!-- Main Form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Next</button>
    </form>
    
    <!-- Logout Form -->
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>
